__pycache__/
*.pyc
.env
data/chroma_db/
data/rasters/*
data/vectors/*
data/documents/*
!data/rasters/.gitkeep
!data/vectors/.gitkeep
!data/documents/.gitkeep
models/
!models/.gitkeep
*.egg-info/
dist/
venv/
.pytest_cache/
*.spec
*.pyc
